@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D3D3D3;
    height: 100vh;
}

header{
    background-color: #949494;
}

header h1{
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
}

span#icone{
    background-color: rgba(26, 26, 26, 0.719);
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
}

span#icone:hover{
    background-color: rgba(75, 75, 75, 0.719);
}

menu{
    display: none;
}

menu > ul{
    list-style-type: none;
}

menu a{
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #5e5b5b;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(175, 175, 175, 0.534);
}

main{
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 768px;
    border-radius: 10px;
}

main h2{
    padding-bottom: 15px;
}

main p{
    text-align: justify;
}

